body {
    background-color: #F8F8F8;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #222222;
    max-height: 70px;
    color: floralwhite;
    font-size: medium;
}
