<div>
    <h3 class="text-center text-bold">Điều khoản</h3>
    <div class="text-show">
        <ul class="clear-dot">
            <li>-  Hệ thống chỉ mang tính chất đánh giá tương đối.</li>
            <li>-  Hệ thống không lưu trữ và chia sẻ bất kỳ mật khẩu nào khi đánh giá.</li>
            <li>-  Kết quả đánh giá chỉ mang tính tham khao, chúng tôi không chịu trách nhiệm về bất kỳ vấn đề gì xảy ra liên quan đến kết quả.</li>
        </ul>
    </div>
</div>
