<div class="text-bold text-center" >
    Kiểm tra độ an toàn của mật khẩu
</div>
<div>
    <p>Chào mừng bạn đến với trang web kiểm tra độ an toàn tương đối của mật khẩu. Đánh giá một mật khẩu là mạnh hay yếu là nhân tố quan trọng giúp bạn an tâm về tài khoản của mình. Trong thực tế, không phải cứ áp dụng theo các lời khuyên chọn mật khẩu mạnh là bạn chắc chắn sẽ có mật khẩu mạnh!</p>
    <p>Độ đánh giá là tương đồi vì không thể đánh giá chính xác tuyệt đối.</p>
    <ul>
        <li>
            Ví dụ 1: các mật khẩu kiểu như 123456789, abc123 hoặc qwerty về lý thuyết có thể mất vài giờ cho đến vài tuần mới dò ra được nhưng trên thực tế những mật khẩu này chỉ mất dưới vài giây để tìm, vì chúng được liệt kê trong danh sách mật khẩu phổ biến và các hacker luôn rà soát chúng trước khi thử các khả năng khác.
        </li>
        <li> Ví dụ 2: nếu bạn định tấn công tài khoản của tôi, nhưng có rất ít thông tin cá nhân về tôi thì mật khẩu "bangaitoitenHang" trở nên rất khó đoán, thế nhưng với người quen biết hoặc những ai nắm rõ tiểu sử, như họ biết tên đầy đủ của tôi là Nguyễn Đức Anh, người yêu tên Hằng và năm tốt nghiệp cấp 3 là 2014…Thế thì rất có thể họ đoán trúng.</li>
    </ul>
</div>
<div>
    <p>Cách thức đánh giá độ an toàn của mật khẩu:</p>
    <ul>
        <li>
            Dựa trên những mật khẩu được sử dụng phổ biến nhất: Nhiều người thường quan niệm đặt mật khẩu cho dễ nhớ hoặc sử dụng các mật khẩu được nhiều người xài. Nêu bạn sử dụng các mật khẩu đó thì khả năng bị bẻ khóa là rất cao.
        </li>
        <li>
            Dựa trên độ dài của mật khẩu: Mật khẩu dài chưa chắc an toàn hơn mật khẩu ngẵn nhưng nếu cũng cách đặt mật khẩu nhưng độ dài khác nhau cũng tạo nên sự khác biệt lớn.
        </li>
        <li>
            Dựa trên thời gian để tìm ra mật khẩu đó: Giả sử với một máy tính 10 tỷ phép tính/giây thì sau bao lâu sẽ hack được tài khoản (với tốc độ khác thì thời gian tìm ra sẽ khác). Với máy tính ở trên, mỗi giây nó sẽ tạo ngẫu nhiên 10 tỷ mật khẩu, nó sẽ thử tất cả các khả năng cho đến khi tìm ra được mật khẩu mới thôi. Thời gian tìm ra càng lâu chứng tỏ mật khẩu càng tốt. Nếu mất 100 năm mới tìm ra được, thế thì bạn có thể yên tâm.
        </li>
        <li>
            Dựa trên lý thuyết về cách đặt mật khẩu mạnh: Có những yêu cầu chung về mật khẩu mạnh, như độ dài, có cả chữ và số, có các ký tự đặc biệt, kèm cả chữ hoa và chữ thường…Nó sẽ cho điểm những yếu tố này, và nếu bạn đáp ứng đủ thì sẽ được đánh giá là mạnh, bạn càng thiếu nhiều yếu tố thì càng yếu.
        </li>
    </ul>
</div>
