<div class="title">
    <h2>Mật khẩu của bạn an toàn như thế nào&#63;</h2>
    <h5 class="note">
        &#40;Vui lòng đọc kỹ 
        <a href="/term">điều khoản</a>
        trước khi sử dụng ứng dụng&#33;&#41;
    </h5>
</div>
<br />

<div class="input">
    <div>
        <input id="password" type="password" placeholder="Nhập mật khẩu" class="input-password"/>
    </div>
</div>

<div>
    <hr />
    <h2>@ViewData["Result"]</h2>
</div>