@model PasswordModel

<div class="title">
    <h2>Mật khẩu của bạn an toàn như thế nào&#63;</h2>
    <h5 class="note">
        &#40;Vui lòng đọc kỹ
        <a href="/term">điều khoản</a>
        trước khi sử dụng ứng dụng&#33;&#41;
    </h5>
</div>
<br />

<div class="input">
    <form asp-controller="Home" asp-action="Index" method="post">
        <input id="password" asp-for="Password" type="password" placeholder="Nhập mật khẩu" class="input-password" />
        <button type="submit" >Kiểm tra</button>
    </form>
</div>

<div>
    Đánh giá mật khẩu vừa nhập:
    <hr />
    <h2>@ViewData["TopPassword"]</h2>
    <hr />
    <h2>Độ dài mật khẩu: @ViewData["LengthPassword"]</h2>
</div>